<footer>
  <div class="f-info">
    <div class="upper-nav">
      <div class="nav-links">
        <h6><strong>Support</strong></h6>
        <a href="#">Help Center</a>
        <a href="#">AirCover</a>
        <a href="#">Anti-discrimination</a>
        <a href="#">Disability support</a>
        <a href="#">Cancellation options</a>
        <a href="#">Report neighbourhood concern</a>
      </div>
      <div class="nav-links">
        <h6><strong>Hosting</strong></h6>
        <a href="#">List your home</a>
        <a href="#">Aircover for Hosts</a>
        <a href="#">Hosting resources</a>
        <a href="#">Community forum</a>
        <a href="#">Hosting responsibly</a>
        <a href="#">Join a free Hosting class</a>
        <a href="#">Find a co-host</a>
      </div>
      <div class="nav-links">
        <h6><strong>Wanderlust</strong></h6>
        <a href="#">Newsroom</a>
        <a href="#">New features</a>
        <a href="#">Careers</a>
        <a href="#">Investors</a>
        <a href="#">Wanderlust.org emergency stays</a>
      </div>
    </div>
    <div class="lower-nav">
      <div class="f-info-links">
        <span class="f-info-brand">&copy; 2026 Wanderlust, Inc.</span>
        <span><a href="/privacy">Privacy</a></span>
        <span><a href="/terms">Terms</a></span>
        <span><a href="/sitemap">Sitemap</a></span>
        <span><a href="/company-details">Company details</a></span>
      </div>
      <div class="f-info-socials">
        <span class="lang">
          <div class="lang-icon">
            <i class="fa-solid fa-earth-americas"></i>
          </div>
          <div class="lang-text">
            <strong>English(IN)</strong>
          </div>
        </span>
        <span
          ><b><i class="fa-brands fa-facebook"></i></b
        ></span>
        <span
          ><b><i class="fa-brands fa-x-twitter"></i></b
        ></span>
        <span
          ><b><i class="fa-brands fa-instagram"></i></b
        ></span>
      </div>
    </div>
  </div>
</footer>
