.category-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc107;
    color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
}

.category-tag .remove-tag {
    cursor: pointer;
    margin-left: 8px;
    font-weight: bold;
    line-height: 1;
}
